@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 320px) {
    nav {
        display: flex;
        width: 100%;
        background-color: #B0AAAA;
        height: 79px;
        justify-content: space-around;
        align-items: center;
    }
    
    nav h1 {
        color: #EAE6E6;
    }
    
    nav img {
        width: 44px;
        height: 44px;
    }
    
    section {
        width: 100%;
        height: 408px;
        background-color: #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: scroll;
        gap: 60px;
    }
    
    .card {
        width: 293px;
        height: 353px;
        background-color: #EDECEC;
        border-radius: 20px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 90px;
        text-align: center;
    }
    
    .card h1 {
        font-weight: lighter;
    }
    
    .box-card {
        margin-top: -180px;
        display: grid;
        height: 290px;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    
    .box-card .logo-lv {
        width: 54px;
        height: 57px;
        grid-column: 1;
        grid-row: 2;
        margin-top: -130px;
        margin-left: 12px;
        object-fit: contain;
    }
    
    .box-card .lv {
        width: 130px;
        height: 270px;
        grid-column: 2 / 3;
    }
    
    .box-card .price {
        grid-column: 3;
        grid-row: 2;
        margin-top: -138px;
        margin-right: 4px;
    }
    
    .box-card .price h1 {
        color: #E12C2C;
        font-size: 20px;
    }
    
    .description {
        width: 100%;
        height: auto;
        background-color: #EAE7E7;
        justify-content: center;
        align-items: center;
    }
    
    .description h1 {
        font-size: 12px;
        padding: 5px 5px;
    }
    
    .description p {
        font-size: 11px;
        padding: 5px 5px;
    }

    .register {
        position: absolute;
        width: 80px;
        height: 40px;
        background-color: rgb(236, 29, 29);
        border-radius: 10px;
        right: 9px;
        top: 24%;
        animation: 3.90s register linear infinite;
        border: none;
        cursor: pointer;
    }

    @keyframes register {
        0% {
            opacity: 1;
        }
        15% {
            opacity: 0;
        }
        30% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        75% {
            opacity: 1;
        }
        80% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .register a {
        text-align: center;
        color: #fff;
        font-size: 13px;
        text-decoration: none;
    }

    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #D9D9D9;
        gap: 70px;
    }
    
    .container .spreech {
        width: 100%;
        height: 50px;
        background-color: #B0AAAA;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spreech h1 {
        color: #fff;
        text-align: center;
    }

    .spreech img {
        position: absolute;
        left: 8px;
        width: 33px;
        height: 33px;
        top: 5.50px;
    }

    .title {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .title h1 {
        font-weight: lighter;
        text-align: center;
    }

    .form {
        width: 90%;
        height: 400px;
        margin: 30px 15px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .form label {
        margin-bottom: -20px;
        font-size: 20px;
    }

    .form input {
        border: none;
        background: transparent;
        border-bottom: 5px solid #ccc;
    }

    .form .btn {
        display: flex;
        justify-content: center;
    }

    .form button {
        border: none;
        width: 180px;
        height: 50px;
        border-radius: 15px;
        background-color: #2285E1;
        font-size: 20px;
        color: #fff;
    }
}

@media (min-width: 375px) {
    .card {
        width: 343px;
    }
}

@media (min-width: 425px) {
    .card {
        width: 383px;
    }
}

